body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    align-content: center;
    width: 100%;
    height: 50vh;
    background: url(../imgs/fundodesfoque.jpg);
    background-size: cover;
    background-position: center center;
    transition: .2s;
}

section.desfoque {
    filter: blur(2px);
}



h1 {
    font-size: 1.7rem;
    text-align: center;
}
