body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #712e92, #321142) ; 
    background-attachment: fixed;
  }
  
header {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

header h1 {
    color: white;
  }  

section {
    max-width: 900px;
    margin: auto;
  }
section h1 {
    padding-top: 50px;
    color: rgb(241, 181, 50);
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
  }
  
article {
    margin: 20px;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px 0;
    background-color: rgb(219, 219, 219);
  }

#titulo{
    margin: -20px;
    margin-bottom: 20px;
    height: 200px;
    background: url(../imgs/fundoagenda.jpg);
    background-size: cover;
    background-position: bottom;
  }

#incluir {
    display: flex;
    justify-content: center;
    align-items: center;
  }

input#tarefa {
    font-size: 1rem;
    height: 3rem;
    flex-basis: 50%;
    border-radius: 15px 0 0 5px;
    text-align: center;
    border-style: none;
  }

#adc {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 5px 0;
  background-image: linear-gradient(to right, #712e92, #321142);
  color: white;
  height: 3.1rem;
  flex-basis: 15%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: .3s;
}

#adc:hover {
  font-size: 2rem; 
}

.lista {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-flow: row wrap;
  border: solid 1px black;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  width: 80%;
  border-radius: 8px;
  margin: 3px;
  cursor: pointer;
}

.item-icone {
  flex: 5%;
  text-align: center;
  font-size: 1.2rem;
}

.item-texto {
  flex: 70%;
  padding: 5px;
  border-left-style: solid;
  border-width: 1px;
}

.item-remover {
  flex: 5%;
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  color: red;
  align-items: center;
  height: 100%;
}

.item.feito {
  border-color: green;
}

.item.feito .item-icone {
  color: green;
}

.item.feito .item-texto {
  color: rgba(25, 97, 25, 0.521);
  text-decoration: line-through;
}